@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Raleway:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

body {
  background-color: #1c202b;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body h1 {
  margin: 0px 7.5% 0px 7.5%;
}

.hand:hover {
  cursor: pointer;
}

.player-1 {
  color: #f72585;
}

.player-2 {
  color: #8338ec;
}

.off {
  display: none !important;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

#winBack {
  background-color: rgba(28, 32, 43, 0.45);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

#win {
  background-color: #ffffff;
  width: 50vw;
  height: 100vh;
  padding: 3%;
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0px;
  right: 0px;
  text-align: center;
  color: #1c202b;
}

#win #rateArea {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#win #rateArea h1 {
  width: 100%;
  font-size: 1.3em;
}

#win #rateArea #text {
  width: 20%;
}

#win #rateArea #porcents {
  width: 10%;
}

#win #rateArea #bars {
  width: calc(70% - 20px);
  margin: 0px 10px 0px 10px;
}

#win #rateArea #bars div {
  width: 100%;
  height: 30px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

#win #rateArea #bars div:nth-of-type(1) {
  background-color: #f72585;
}

#win #rateArea #bars div:nth-of-type(2) {
  background-color: #8338ec;
}

#win #rateArea h1, #win #rateArea #bars div {
  margin: 30px 0px 0px 0px;
}

#area {
  width: 50vh;
  height: 50vh;
}

#area .line {
  width: 100%;
  height: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

#area .line .block {
  width: 33.3%;
  height: 100%;
  font-family: 'Be Vietnam Pro', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#area .line .block h1 {
  font-size: 0em;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#area .line .block:nth-of-type(1) {
  border-color: #ffffff;
  border-style: solid;
  border-width: 0px 5px 0px 0px;
}

#area .line .block:nth-of-type(3) {
  border-color: #ffffff;
  border-style: solid;
  border-width: 0px 0px 0px 5px;
}

@-webkit-keyframes show {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 6em;
  }
}

@keyframes show {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 6em;
  }
}

#area .line:nth-of-type(2) {
  border-color: #ffffff;
  border-style: solid;
  border-width: 5px 0px 5px 0px;
}

@media screen and (max-width: 415px) {
  #area {
    width: 85vw;
    height: 85vw;
  }
}

#buttons {
  width: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#buttons button {
  background-color: transparent;
  width: 100%;
  height: 40px;
  font-size: 1.3em;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  border-style: solid;
  border-color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#buttons button:hover {
  background-color: #ffffff;
  color: #1c202b;
}

#buttons #end {
  display: none;
}

@media screen and (max-width: 415px) {
  #buttons {
    width: 85vw;
  }
}
/*# sourceMappingURL=main.css.map */