//Import
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Raleway:wght@300&display=swap');
@import 'import/colors';
@import 'import/mixin';
@import 'import/game';

//General
*{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

::selection{
    background-color: transparent;
}

body{
    @include flex(center, center, column);
    background-color: $backgroundColor;
    width: 100vw;
    height: 100vh;

    color: $neutralColor;
    font-family: 'Raleway', sans-serif;

    cursor: default;

    .hand:hover{
        cursor: pointer;
    }
}

//Buttons
#buttons{
    @include flex(center, center, column);
    width: 55vh;

    button{
        background-color: transparent;
        width: 100%;
        height: 40px;

        border-style: solid;
        border-color: $neutralColor;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        font-size: 1.3em;
        color: $neutralColor;
        font-family: 'Raleway', sans-serif;

        transition: background-color 0.5s, color 0.5s;

        &:hover{
            background-color: $neutralColor;
            color: $backgroundColor;
        }
    }
}