#buttons{
    width: 50vh;

    button{
        background-color: transparent;
        width: 100%;
        height: 40px;

        font-size: 1.3em;
        color: $neutralColor;
        font-family: 'Raleway', sans-serif;

        border-style: solid;
        border-color: $neutralColor;

        cursor: pointer;

        transition: background-color 0.5s, color 0.5s;

        &:hover{
            background-color: $neutralColor;
            color: $darkColor;
        }

        @include roundedBorder();
    }

    #end{
        display: none;
    }
    
    @include flex(center, center, column);

    @media screen and (max-width: 415px){
        width: 85vw;
    }
}