#buttons{
    width: 55vh;

    button{
        background-color: transparent;
        width: 100%;
        height: 40px;

        font-size: 1.3em;
        color: $neutralColor;
        font-family: 'Raleway', sans-serif;

        border-style: solid;
        border-color: $neutralColor;

        transition: background-color 0.5s, color 0.5s;

        &:hover{
            background-color: $neutralColor;
            color: $darkColor;
        }

        @include roundedBorder();
    }
    
    @include flex(center, center, column);
}