#area{
    width: 55vh;
    height: 55vh;

    margin: 50px 0px 50px 0px;

    @mixin borderGame($top, $right, $bot, $left){
        border-color: $neutralColor;
        border-style: solid;
    
        border-width: $top $right $bot $left;
    }

    .line{
        @include flex(none, center, row);
        width: 100%;
        height: 33.3%;

        .block{
            @include flex(center, center, column);
            width: 33.3%;
            height: 100%;

            font-family: 'Be Vietnam Pro', sans-serif;

            h1{
                font-size: 6em;
            }

            &:nth-of-type(1){
                @include borderGame(0px, 5px, 0px, 0px);
            }

            &:nth-of-type(3){
                @include borderGame(0px, 0px, 0px, 5px);
            }
        }

        &:nth-of-type(2){
            @include borderGame(5px, 0px, 5px, 0px);
        }
    }
}