#winBack{
    background-color: rgba($darkColor, 0.45);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
}

#win{
    background-color: $neutralColor;
    width: 0vw;
    height: 100vh;

    padding: 0px;

    position: fixed;
    top: 0px;
    right: 0px;

    text-align: center;
    color: $darkColor;

    transition: width 0.5s;

    h1{
        margin: 5vh 0px 10vh 0px;
    }

    .title{
        margin: 15vh 0px 0px 0px;
    }

    #rateArea{
        width: 100%;

        h1{
            width: 100%;

            font-size: 1.5em;
        }

        #text{
            width: 20%;
        }
        
        #porcents{
            width: 10%;
        }

        #bars
        {
            width: calc(70% - 20px);
            margin: 0px 10px 0px 10px;

            div{
                width: 100%;
                height: 30px;
    
                transition: width 0.5s;

                &:nth-of-type(1){
                    background-color: $primaryColor;
                }
                &:nth-of-type(2){
                    background-color: $secundaryColor;
                }
            }
        }

        h1, #bars div{
            margin: 30px 0px 0px 0px;
        }

        @include flex(center, center, row);
    }
}